.catalog {
	margin: 120px 0 180px 0;
	
	&__title {
		@include item__title;
		
		margin-bottom: 55px;
	}
	
	&__nav {
		
		
		&-block {
			width: 50%;
			
			&-img {
				margin: 11px 0 0 13px;
				
				width: 8px;
				height: 15px;
				cursor: pointer;
			}
		}
		
		&-link {
			text-decoration: none;
			
			font-size: 24px;
			
			margin-bottom: 40px;
			
			@media (max-width: 808px) {
				& {
					font-size: 22px;
				}
			}
		}
	}
	
	&__item {
		position: relative;
		
		&-photo {
			position: absolute;
			top: 0;
			right: -6%;
			z-index: 1;
		}
		
		//&-background {
		//	content: "";
		//	position: absolute;
		//	top: 10%;
		//	right: -7%;
		//	z-index: -1;
		//	display: block;
		//	width: 590px;
		//	height: 355px;
		//
		//	background-color: $black;
		//}
	}
	
	@media (max-width: 1039px) {
		& {
			padding-bottom: 300px;
		}
	}
}

